/* Responsive Tablet - Width: 1024 */

@media (max-width: 1024px) {
  .hero-section {
    flex-direction: column;
    row-gap: 72px;
  }

  .hero-text {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    row-gap: 20px;
  }

  .hero-cta {
    display: flex;
    align-items: center;
  }

  .button-paragraph {
    width: 100%;
  }

  .feature {
    width: 100%;
  }

  .black-bg-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .content-text-box {
    width: 100;
    text-align: center;
  }
}

@media (max-width: 744px) {
  .hero-cta {
    flex-direction: column;
  }

  .features-wrapper {
    display: flex;
    flex-direction: column;
  }

  .navigation-lists {
    display: none;
  }
}

@media (max-width: 375px) {
  .footer-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .footer-info {
    display: flex;
  }

  .footer-container {
    width: 100%;
  }

  .navigation-lists {
    display: none;
  }
}
